@import 'src/app/styles/variables';

// Обнуление базовых стилей

* {
  outline: none;
  margin: 0;
  padding: 0;
  font-family: $font-default;
  text-decoration: none;
}

html, body {
  height: 100%;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, label, p {
  margin-bottom: 0;
}

table {
  display: inline-table;
}
