<div class="shift-page">
    <header class="shift-page__header">
        <h1 class="shift-page__header_title">Список смен</h1>
        <button class="shift-page__header_button material-icons" (click)="openShiftCreate()">add</button>
    </header>
    <main class="shift-page__main" *ngIf="!initiating">
        <app-shifts-list [shifts]="shifts"
                         (edit)="edit($event)"
                         (delete)="delete($event)"
        ></app-shifts-list>
    </main>
</div>

<app-loading *ngIf="loading"></app-loading>
