.shifts-list {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 25px;
  &__no-content {
    text-align: center;
    margin: 50px 45px 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
