<div class="shifts-list">
    <table class="table table-bordered table-striped shadow">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Начало</th>
                <th>Окончание</th>
                <th>Тип крана</th>
                <th>Погружено тонн</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let shift of shifts">
                <td>{{shift.fullName}}</td>
                <td>{{shift.startDate | date:'d/MM/y H:mm'}}</td>
                <td>{{shift.endDate | date:'d/MM/y H:mm'}}</td>
                <td>{{shift.craneType}}</td>
                <td>{{shift.totalLoaded}} т</td>
                <td>
                    <div class="d-flex justify-content-center flex-nowrap">
                        <button class="mr-2 material-icons" (click)="edit.emit(shift)">edit</button>
                        <button class="material-icons" (click)="delete.emit(shift.id)">delete</button>
                    </div>
                </td>
            </tr>
            <tr *ngIf="shifts.length === 0">
                <td [colSpan]="6">
                    <div class="shifts-list__no-content">
                        <p>Смены отсутствуют</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
