<div class="shift-work">
    <h4 class="shift-work__header">{{ header }}</h4>
<!--    <div class="shift-work__"></div>-->
    <table class="table table-bordered table-striped shadow">
        <thead>
            <tr>
                <th>Грузовик</th>
                <th>Погружено, т</th>
                <th>Выгружено, т</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <select class="form-control">
                    <option selected>Выберите машину...</option>
                    <option *ngFor="let i of tracks" [value]="i">{{ 'Грузовик ' + i }}</option>
                </select>
            </td>
            <td>
                <input type="number" class="form-control">
            </td>
            <td>
                <input type="number" class="form-control">
            </td>
            <td>
                <div class="d-flex align-items-center justify-content-center">
                    <button class="shift-work__delete material-icons">delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
