<div class="shift-work">
    <h4 class="shift-work__header">{{ header }}</h4>
    <table class="table table-bordered table-striped shadow">
        <thead>
            <tr>
                <th>Грузовик</th>
                <th>Погружено, т</th>
                <th>Выгружено, т</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let group of form.controls; let i = index;" [formGroup]="group">
                <td>
                    <select class="shift-work__track form-control" formControlName="track">
                        <option *ngIf="group.get('system').value" [value]="''">Выберите машину...</option>
                        <option *ngFor="let track of tracks" [class.option-disabled]="trackIsBusy(track)" [disabled]="trackIsBusy(track)" [value]="track">{{ track }}</option>
                    </select>
                </td>
                <td>
                    <input type="number" min="0" class="form-control" formControlName="loaded">
                </td>
                <td>
                    <input type="number" min="0" class="form-control" formControlName="unloaded">
                </td>
                <td>
                    <div class="d-flex align-items-center justify-content-center" *ngIf="!group.get('system').value">
                        <button class="shift-work__delete material-icons" (click)="removeWork(i)">delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
