<form [formGroup]="form">
    <div class="date-time">
        <ng-template #picker>
            <div class="date-time__picker">
                <ngb-datepicker formControlName="date" [startDate]="form.get('date').value"></ngb-datepicker>
                <ngb-timepicker formControlName="time"></ngb-timepicker>
            </div>
        </ng-template>
        <div class="input-group"
             popoverClass="shadow border-0"
             [ngbPopover]="picker"
             (hidden)="touch()"
             [autoClose]="'outside'"
             placement="top"
        >
            <input class="form-control date-time__input"
                   [class.is-invalid]="invalid"
                   placeholder="Выберите дату..."
                   formControlName="value"
                   readonly
            >
            <div class="input-group-append">
                <button class="btn btn-outline-secondary material-icons date-icon"
                        [class.btn-outline-danger]="invalid"
                        type="button"
                >date_range</button>
            </div>
        </div>
    </div>
</form>
