<div class="modal-header">
    <h4 class="modal-title">{{shift ? 'Изменение' : 'Добавление'}} смены</h4>
    <button type="button" class="close" (click)="activeModal.dismiss()">
        <span class="material-icons">close</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <div class="form-row form-row__select">
            <label for="craneType" class="mb-1">Тип крана:</label>
            <select formControlName="craneType"
                    id="craneType"
                    class="custom-select"
                    [class.is-invalid]="form.get('craneType').invalid && form.get('craneType').touched"
            >
                <option [value]="''">Выберите тип крана...</option>
                <option [value]="craneTypes.Single">Одинарный</option>
                <option [value]="craneTypes.Double">Двойной</option>
            </select>
            <div class="invalid-feedback" *ngIf="form.get('craneType').hasError('required')">
                Обязательное поле
            </div>
        </div>
        <div class="form-row">
            <label for="fullName" class="mb-1">ФИО ответственного:</label>
            <input formControlName="fullName"
                   type="text"
                   id="fullName"
                   class="form-control"
                   placeholder="Иванов И.И."
                   [class.is-invalid]="form.get('fullName').invalid && form.get('fullName').touched"
            >
            <div class="invalid-feedback" *ngIf="form.get('fullName').hasError('required')">
                Обязательное поле
            </div>
            <div class="invalid-feedback" *ngIf="form.get('fullName').hasError('format')">
                Неверный формат (например, Иванов И.И.)
            </div>
        </div>
        <div class="form-row flex-wrap">
            <div class="form-row__date mr-4">
                <label for="startDate" class="form-row__date_label">Дата начала</label>
                <app-date-time-picker id="startDate"
                                      formControlName="startDate"
                                      [invalid]="form.get('startDate').invalid && form.get('startDate').touched"
                ></app-date-time-picker>
                <div class="invalid-feedback" *ngIf="form.get('startDate').hasError('required')">
                    Обязательное поле
                </div>
            </div>
            <div class="form-row__date">
                <label for="endDate" class="form-row__date_label">Дата окончания</label>
                <app-date-time-picker id="endDate"
                                      formControlName="endDate"
                                      [invalid]="form.get('endDate').invalid && form.get('endDate').touched"
                ></app-date-time-picker>
                <div class="invalid-feedback" *ngIf="form.get('endDate').hasError('required')">
                    Обязательное поле
                </div>
                <div class="invalid-feedback" *ngIf="form.get('endDate').hasError('startEnd')">
                    Дата окончания не может быть раньше даты начала
                </div>
            </div>
        </div>
        <div [ngSwitch]="form.get('craneType').value"
             [class.is-invalid]="form.get('works').invalid && form.get('works').touched">
            <ng-container *ngSwitchCase="craneTypes.Single">
                <app-shift-work header="Кран"
                                [works]="getWorks(cranes.Single)"
                                (worksChange)="setWorks($event, cranes.Single)"
                                [crane]="cranes.Single"
                ></app-shift-work>
            </ng-container>
            <ng-container *ngSwitchCase="craneTypes.Double">
                <app-shift-work header="1-й кран"
                                [works]="getWorks(cranes.Double1st)"
                                (worksChange)="setWorks($event, cranes.Double1st)"
                                [crane]="cranes.Double1st"
                ></app-shift-work>
                <app-shift-work header="2-й кран"
                                [works]="getWorks(cranes.Double2nd)"
                                (worksChange)="setWorks($event, cranes.Double2nd)"
                                [crane]="cranes.Double2nd"
                ></app-shift-work>
            </ng-container>
        </div>
        <div class="invalid-feedback pl-2 pr-2" *ngIf="form.get('works').hasError('required') && form.get('craneType').value">
            <p class="text-center">Добавьте информацию о выполненной работе</p>
        </div>
        <div class="d-flex flex-column align-items-end mt-2" *ngIf="form.get('craneType').value">
            <h4 class="shift-create__total">
                <span>Всего погружено </span>
                <span class="ml-2">{{ totalLoaded }} т</span>
            </h4>
            <h4 class="shift-create__total">
                <span>Всего выгружено </span>
                <span class="ml-2">{{ totalUnloaded }} т</span>
            </h4>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="activeModal.dismiss()">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="submit()">
        <span>Сохранить</span>
        <span class="spinner spinner-border text-light" *ngIf="loading">
        <span class="sr-only">Loading...</span>
    </span>
    </button>
</div>
