@import "../../../../styles/variables";

.form-row {
  padding: 10px 0;
  @media #{$sm} {
    padding: 10px 15px;
  }
  &__select {
    max-width: 280px;
  }
  &__date {
    margin-bottom: 20px;
    &_label {
      white-space: nowrap;
      margin-bottom: 6px;
    }
  }
}

.spinner {
  max-width: 20px;
  max-height: 20px;
  margin-left: 10px;
}
