<div class="modal-header">
    <h4 class="modal-title">Добавление смены</h4>
    <button type="button" class="close" (click)="activeModal.dismiss()">
        <span class="material-icons">close</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <div class="form-row form-row__select">
            <label for="craneType" class="mb-1">Тип крана:</label>
            <select formControlName="craneType"
                    id="craneType"
                    class="custom-select"
                    [class.is-invalid]="form.get('craneType').invalid && form.get('craneType').touched"
            >
                <option [value]="''">Выберите тип крана...</option>
                <option [value]="craneTypes.Single">Одинарный</option>
                <option [value]="craneTypes.Double">Двойной</option>
            </select>
            <div class="invalid-feedback" *ngIf="form.get('craneType').hasError('required')">
                Обязательное поле
            </div>
        </div>
        <div class="form-row">
            <label for="fullName" class="mb-1">ФИО ответственного:</label>
            <input formControlName="fullName"
                   type="text"
                   id="fullName"
                   class="form-control"
                   placeholder="Иванов И.И."
                   [class.is-invalid]="form.get('fullName').invalid && form.get('fullName').touched"
            >
            <div class="invalid-feedback" *ngIf="form.get('fullName').hasError('required')">
                Обязательное поле
            </div>
            <div class="invalid-feedback" *ngIf="form.get('fullName').hasError('format')">
                Неверный формат (например, Иванов И.И.)
            </div>
        </div>
        <div class="form-row flex-wrap">
            <div class="form-row__date mr-4">
                <label for="start" class="form-row__date_label">Дата начала</label>
                <input formControlName="start"
                       type="datetime-local"
                       id="start"
                       class="form-control"
                       placeholder="01/01/2021 08:00"
                       [class.is-invalid]="form.get('start').invalid && form.get('start').touched"
                >
                <div class="invalid-feedback" *ngIf="form.get('start').hasError('required')">
                    Обязательное поле
                </div>
                <div class="invalid-feedback" *ngIf="form.get('start').hasError('format')">
                    Неверный формат (например, 01/01/2021 08:00)
                </div>
            </div>
            <div class="form-row__date">
                <label for="end" class="form-row__date_label">Дата окончания</label>
                <input formControlName="end"
                       type="datetime-local"
                       id="end"
                       class="form-control"
                       placeholder="01/01/2021 19:00"
                       [class.is-invalid]="form.get('end').invalid && form.get('end').touched"
                >
                <div class="invalid-feedback" *ngIf="form.get('end').hasError('required')">
                    Обязательное поле
                </div>
                <div class="invalid-feedback" *ngIf="form.get('end').hasError('format')">
                    Неверный формат (например, 01/01/2021 19:00)
                </div>
                <div class="invalid-feedback" *ngIf="form.get('end').hasError('startEnd')">
                    Дата начала не может быть больше даты окончания
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="activeModal.dismiss()">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="submit()">Сохранить</button>
</div>
